<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JWT Token | AUTH</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
      <h1 class="text-3xl font-bold mb-5">Create a User</h1>
      <form method="post" action="/create">
        <input
          class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-600 outline-none"
          type="text"
          placeholder="username"
          name="username"
        />
        <input
          class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-600 outline-none"
          type="email"
          placeholder="email"
          name="email"
        />
        <input
          class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-600 outline-none"
          type="password"
          placeholder="password"
          name="password"
        />
        <input
          class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-600 outline-none"
          type="number"
          placeholder="age"
          name="age"
        />
        <input
          class="px-3 py-2 rounded-md bg-blue-400 outline-none"
          type="submit"
          value="Create User"
        />
      </form>
    </div>
  </body>
</html>
